.bg {
	background-color: ABACB2
}

.white-bg {
	background-color: white;
}
.bg-img {
	background: url(../images/scl.jpg) no-repeat center center fixed;
	background-size: cover;
}

.heading {
	font-family: Times ;
	font-style: italic;
	font-size: 60px;
	color: white;
	position: top;
	top: 485px;

}
.center {
	margin-left: 40%
	 ;
}

.abc {
	font-family: Times;
	position: bottom;
	color: white;
	font-style: italic;
}

.navbar-brand a {
	font-family: times
	font-size:40px;
	font-style: bold;
	color: black;
}